.slide img {
    height: 60vh;

}
.div-whatsapp{
    width: 90px;
    height: auto;
    background-color: rgb(50, 141, 62);
    border-radius: 10px;
}

.whatsapp{
    position:fixed;
    width: 60px;
    height: auto;
    background-color: rgb(50, 141, 62);
    border-radius: 50%;
    bottom: 25px;
    right: 25px;
}